
<h2>Add new book</h2>

<%= form_for(@book, url: create_book_path) do |form| %>
  <p class="form-pair">
    <%= form.text_field(:title, class: "form-text", required: true) %>
    <%= form.label(:title, "Title (required)", class: "form-label") %>
  </p>

  <p class="form-pair">
    <%= form.text_field(:filename, class: "form-text") %>
    <%= form.label(:filename, class: "form-label") %>
  </p>

  <p class="form-pair">
    <%= form.label(:language, "Language", class: "select-label") %>
    <span class="form-select">
      <select id="language" name="language">
        <%= render "language_options" %>
      </select>
    </span>
  </p>

  <%= form.submit "Create book", class: "button-main" %>
<% end %>
